.input {
    display: flex;
    padding: 4px;
    justify-content: center;
    margin-top: 5%;
    
}

label{
    padding: 5px;
    text-align: center;
}

ul {
    justify-content: center;
}

button {
    margin: 5px;
}